* {
 
    box-sizing: border-box;
}


body {
    font-size: 14px;
    font-weight: 700;
    background: #eeee;
}



/* header-scetion */
header {
 

    background-color: white;
}


/* nav-section */

a.nav-link {
    color: black;
}



@media (min-width: 992px) {
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        gap: 50px;
        
    }
}
@media (min-width: 992px) {
    .navbar-expand-lg {
      
        height: 100px;
        line-height: 4rem;
    }
}
@media (min-width: 1024px) {
    .navbar-expand-lg {
      
        height: 100px;
        line-height: 4rem;
    }
}
@media (min-width: 728px) {
    .navbar-expand-lg {
      
        height: 100px;
        line-height: 4rem;
    }
}
@media only screen and (min-width: 1200px) {
     .header-title {
        margin-top: 60px;
    }
}




/* nav-section */
picture.visible{
    justify-content: center;
    height: 88px;
}
img.header-img {
    width: 64px;
    height: 64px;
}
/* header-scetion */

/* main-section */



@media only screen and (min-width: 1200px) {
    .container.secondary-logo .secondary-logo.image {
        height: 96px;
       
    }
}

@media only screen and (min-width: 1200px) {
    .secondary-logo.image.picture-image.logo-image {
        height: 96px;
       
    }
}
@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 38px;
        height: 4rem;
        line-height: 4rem;
    }
}
@media only screen and (min-width: 1024px) {
    .card-body {
        font-size: 18px;
        font-weight: 400;
        width: 448px;
    }
}
@media only screen and (min-width: 1024px) {
    article {
   
        width: 448px;
    }
}
@media only screen and (max-width: 1200px) {
    iframe{
   
        width: 1024;
    }
}

@media only screen and (min-width: 1400px) {
    iframe{
   
        width: 1120px;
        height: 600px;
    }
}
@media only screen and (min-width: 750px) {
    iframe{
   
        width: 448px;
        height: 300px;
    }
}
@media only screen and (min-width: 1024px) {
    .card-body.last-images{
        font-size: 18px;
        font-weight: 400;
        width: 250px;
    }
}
@media only screen and (min-width: 1024px) {
    .card-body.last-contents{
        font-size: 18px;
        font-weight: 400;
        width: 250px;
    }
}
@media only screen and (min-width: 1024px) {
    .card-body.last-contents img.last{
        font-size: 18px;
        font-weight: 400;
        width: 250px;
    }
}
@media only screen and (min-width: 320px) {
    .card-body.last-images{
        font-size: 18px;
        font-weight: 400;
        width: 250px;
    }
}
@media only screen and (min-width: 320px) {
    .card-body.last-contents{
        font-size: 18px;
        font-weight: 400;
        width: 250px;
    }
}
@media only screen and (min-width: 320px) {
    .side{
        padding-top: 1rem;
    }
}


/* @media (min-width: 992px) {
    .col-lg-4 {
       
        width: 33.33333333%;
    }
}
@media (min-width: 720px) {
    .col-lg-4 {
       
        width: 33.33333333%;
    }
} */


/* @media only screen and (min-width: 720px) 
    .card-body {
        font-size: 18px;
        font-weight: 400;
        width: 720px;
    }
}
   
@media only screen and (min-width: 320px) {
    .card-body {
        font-size: 1.2rem;
        font-weight: 400;
        width: 272px;
    }
} */


.carousel-item img {
    width: 100%;
background: white;
    object-fit: cover;
}



.carousel-indicators{
bottom: -4rem;

}
.carousel-indicators [data-bs-target] {
    width: 17px;
    height: 20px;
    bottom: -7rem;
    transition:  0.3s ease;
}
/* section-starts */



.adaptive-image {
    width: 100%;
    height: 560px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}


/* cards */
.card {
    border: none;
    background: #eeee;
  
}
.card-body {
    font-size: 18px;
    font-weight: 400;
  
}
.card-footer {
    background: #eeee;
}

.dropdown-btn{
    outline: none; 
    box-shadow: none; 
}
.dropdown-btn.dropdown-icon {
    transform: rotate(180deg);
}

.dropdown-icon {
    transition: transform 0.3s ease;
}
/* section2 */
section.iframe{
    margin-top: 4rem;
}
/* section2 */

/* last-section */

.last-content{
    margin-top: 4rem;
}

.card.last-content {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}



section.sec-content.container {
    /* width: 1120px; */
    margin-top: 7rem;
    height: 188px;
    background: black;
}
.contents-last {
    line-height: 188px;
    justify-content: space-around;
    align-items: center;
    color: white;
}
/* last-section */
/* cards */
/* section-starts */
/* main-section */


/* footer-section */
footer.bg-black {
    margin-top: 4rem;
    height: 600px;
}
.side.col-lg-6.col-md-6.col-sm-6.d-flex {
    justify-content: flex-end;
}
div#aboutUs {
    line-height: 3;
}
div#needHelp {
    line-height: 3;
}
div#terms {
    line-height: 3;
}


/* footer-section */
